<!--
If you want to include any custom html just before </body>, put it in this file.
Or you can delete these file if you don't need it.
-->
<!-- for example, you could include some js libraries:
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.js" integrity="sha256-HdIuWBZj4eftihsoDCJoMYjZi6aNVaw7YlUpzKT3ZxI=" crossorigin="anonymous"></script>
-->
<div class="text-center" style="margin-top:2px">
<ul class="list-inline">
  <li><a title="ACM SIGIR" href="http://sigir.org"><img src="img/sigir-org-logo.png" alt="ACM SIGIR" class="img-rounded" style="height:40px" /></a></li>
  <li><a title="{{ .Site.Title }}" href="{{ "" | absLangURL }}">
      <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" class="img-rounded" style="height:60px" />
      </a>
  </li>
  <li><a title="ACM SIGIR北京支部" href="http://sigir.cn"><img src="img/sigir-beijing-logo.jpg" alt="ACM SIGIR北京支部" class="img-rounded" style="height:60px" /></a></li>
</ul>
</div>
